<aside class="color-text right">
  <div class="aside-fix">
    <table class="align-table">
      <th colspan="2" class="bottom-border"><a href=""><span>Who to follow</span></a></th>
      <th class="bottom-border"><a href=""><span>Refresh</span></a> </th>
      <tr>
        <td class="first-cell"> <div class="circular"></div> </td>
        <td class="second-cell"><span>Comedy bang bang</span></td>
        <td class="third-cell"><input type="button" value="Follow"></td>
      </tr>
      <tr>
        <td class="first-cell"> <div class="circular"></div> </td>
        <td class="second-cell"><span>Comedy bang bang</span></td>
        <td class="third-cell"><input type="button" value="Follow"></td>
      </tr>
      <tr>
        <td class="first-cell"> <div class="circular"></div> </td>
        <td class="second-cell"><span>Comedy bang bang</span></td>
        <td class="third-cell"><input type="button" value="Follow"></td>
      </tr>
    </table>
    <div class="go-mobile bottom-border color-text">
      <p>Go mobile</p>
    </div>
    <div class="nav-mobile bottom-border">
      <a href=""><img style="width:140px" src="img/app-store.png"/></a>
      <a href=""><img style="width:140px" src="img/google-play.png"/></a>
    </div>
    <div class="aside-footer">
      <p>
        <a href="">Legal</a>-<a href="">Privacy</a>-<a href="">Cookies</a>-<a href="">Imprint</a>-<a href="">Popular searches</a></br>
        <a style="color:blue"href="">Languge:</a><a style="color:#333" href="">English (US)</a>
      </p>
    </div>
  </div>
</aside>
