<div class="image-playlist">
  <a ng-href=""><img ng-src={{p.picture}}/></a>
</div>
<div class="player">
  <div class="header-playlist">
    <input type="image" value="button" src="/img/PlayButtonSoundcloud.png"/>
    <div class="text">
      <h4>Playlist title:</h4>
      <h2>{{p.title}}</h2>
    </div>
    <span>Private</span>
  </div>
  <song-el></song-el>
  <div class="bottom-playlist" ng-click="playlistCtrl.showTracks(p)" ng-if="p.tracks.length > 5 ">
     <span ng-show="p.show">View {{p.tracks.length}} tracks</span>
     <span ng-hide="p.show">View fewer tracks</span>
  </div>
  <div class="playlist-footer">
    <button type="button">Share</button>
    <div class="visibility-buttons">
      <button type="button"><img style="width:15px; height:15px"src="/img/delete.png"/></button>
      <button type="button"><img style="width:15px; height:15px"src="/img/pencil.png"/></button>
    </div>
  </div>
</div>
