<footer ng-if="toggle">
  <div class="footer-player">
    <div class="footer-buttons left">
      <form>
        <input type="image" value="button" src="img/back.png"/>
        <input type="image" value="button" src="img/play.png"/>
        <input type="image" value="button" src="img/forw.png"/>
        <input type="image" value="button" src="img/replay.png"/>
      </form>
    </div>
    <div class="progress left">
      <label></label>
      <progress value="30" max="300"></progress>
      <label></label>
    </div>
    <div class="volume left">
      <input type="image" value="button" src="img/vol.png"/>
    </div>
    <div class="footer-elem left in-line">
      <span><a href=""><img style="width:30px;height:30px;"src="img/beats-like-birds.png"/></a><span>
      <span><a href="">Playing from your stream:</a></br><a href="">Title</a></span>
    </div>
    <div class="like-button">
      <form>
        <input type="image" value="button" src="img/like.png"/>
      </form>
    </div>
  </div>
</footer>
