<div class="page-header">
    <div class="inner-header">
        <div class="header-left">
            <div class="logo-header left">
                <a href=""><img src="img/soundcloud.png" /></a>
            </div>
            <nav class="menu left">
                <ul id="playlist-bar">
                    <li><a href="">Home</a></li>
                    <li><a href="#/test">Collection</a></li>
                </ul>
            </nav>
        </div>
        <div class="search left">
            <form>
                <fieldset class="input-search">
                    <input type="search" class="box" placeholder=" Search" />
                    <input type="submit" class="btn" value="" />
                </fieldset>
            </form>
        </div>
        <div class="header-right">
            <nav class="navhead-right">
                <ul>
                    <li><a href="">Upload</a></li>
                    <li><a href="">UserName</a></li>
                    <li>
                        <a href=""><img src="img/bell.png" /></a>
                    </li>
                    <li>
                        <a href=""><img src="img/mail.png" /></a>
                    </li>
                </ul>
            </nav>
            <div class="dropdown">
                <input type="image" value="button" src="img/dots.png" onclick="myFunction()" id="drop" class="dropbtn" />
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </div>
    </div>
</div>
