<div class="content-playlists">
  <div class="image-playlist">
    <a data-href=""><img data-src="picture"/></a>
  </div>
  <div class="player">
    <div class="header-playlist">
      <input type="image" value="button" src="View/images/PlayButtonSoundcloud.png"/>
      <div class="text">
        <h4>Playlist title:</h4>
        <h2 data-content="title"></h2>
      </div>
      <span>Private</span>
    </div>
    <div class="elemplaylist-container" id="elements"></div>
    <div class="playlist-footer">
      <button type="button">Share</button>
      <div class="visibility-buttons">
        <button type="button"><img style="width:15px; height:15px"src="View/images/delete.png"/></button>
        <button type="button"><img style="width:15px; height:15px"src="View/images/pencil.png"/></button>
      </div>
    </div>
  </div>
</div>
