
body{
  background-color: #f2f2f2;
}
header{
  position: fixed;
  top:0;
  left:0;
  background-color:#333;
  width: 100%;
  height: 50px;
}
footer{
  position: fixed;
  bottom:0;
  height:46px;
  width:100%;
  background-color: #f2f2f2;
  border:1px solid rgba(0,0,0,.15);
}
ul{
  margin:0;
  padding:0;
}
.content-wrapper{
  background-color: #fff;
  height: 100%;
  width: 1300px;
  margin: 50px auto 0px;
}
.align-content{
  /*position: relative;*/
  display: block;
  width:94%;
  height: 100%;
  margin:0 auto;
  padding-top: 30px;
}
aside{
  display: block;
  /*position: absolute;*/
  width:300px;
  height:100%;
}
.inner-header{
  width: 1300px;
  margin: 0 auto;
  height: 100%;
  /*margin-top: 0;*/
}
.header-left{
  width: 25%;
}
.search{
  width:60%;
  text-align: center;
}
.logo-header{
    display: inline-block;
}
.logo-header img{
  width:60px;
  height:100%;
}
#menu{
    margin-top:0px;
    display: inline-block;
}
#menu ul{
  height:50px;
}
#menu ul li{
  display: inline;
  list-style-type: none;
  /*padding-left: 10px ;
  padding-right: 10px;*/
  padding:15px 15px ;
  border-right: 1px solid black;
}

a:link, a:visited{
  color:#fff;
  text-decoration: none;
  font-size: 20px;
}
.right{
  float: right;
}
.left{
  float:left;
}

.search input{
  border-radius: 6px;
  width:650px;
  height: 30px;
  margin-top: 10px;
  border: 0;
  background-color:#e5e5e5;
  color:#333
}
.search input:focus{
  outline: none;
  border-radius: 6px;
  background-color: #fff;
}
.left-content{
  margin-right: 330px;
  padding-right: 30px;
  border-right: 1px solid #f2f2f2;
}
.content-nav{
    border-bottom: 1px solid #f2f2f2;
}

.content-nav ul li{
  display: inline;
  list-style-type: none;
  margin-right: 30px;
  font-size: 30px;
}
.content-nav ul li a{
  font-size: 30px;
  color:#333;
}
.content-nav ul li:hover {
  border-bottom: 1px solid #333;
}
.content-nav ul li a:visited {
  color: #f50;
  border-bottom: 1px solid #f50;
}

.playlists p{
  color:#999;
  font-weight: 100px;
  font-size: 18px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}
.image-playlist img{
  width: 160px;
  height: 160px;
}
.image-playlist{
  width: 160px;
  display: inline-block;
}
.player{
  display:inline-block;
}
.player button{
  width: 55px;
  height:55px;
  padding: 0;
  border:0;
}

.footer-player{
  width: 1300px;
  margin:0 auto;
}
